 <section id="footer">
      <div class="footer-container">
        <p class="footer-text">Disclamer: We are not liable to any misfortunes or shenanigans over Christmas.</p>
      </div>
    </section>