 <!-- NAVIGATION BAR -->
  <nav>
    <a href="/" class="logo">a not so lonely Xmas</a>
    <ul>
      <li><a href="/all/families">Hosts</a></li>
      <li><a href="/all/loners">Guests</a></li>
    </ul>
  </nav>
 
  <!-- END - NAVIGATION BAR -->