 <!-- NAVIGATION BAR -->
  <nav>
    <a href="/" class="logo">a not so lonely Xmas</a>
    <ul>
      <li><a href="/family/signup">Be Host</a></li>
      <li><a href="/loner/signup">Be Guest</a></li>
    </ul>
  </nav>
 
  <!-- END - NAVIGATION BAR -->