 <header>
  {{>navButton}}
 </header>

<section id = "viewall-display">
      <div class="viewall-container">
        {{#each unmatched}}
           <a class="viewall-front" href="/family/{{surname}}">
             <div class="inside-container">
             <div class="image-position">
               <img src="/images/family.png" class="viewall-img-size" alt="profile">
             </div>
             <div class ="text-position">
                <h2 class="title-text-viewall">The {{surname}}s</h2>
                <p>{{location}}</p>
                <p class="text-card-viewall">{{description}}</p>
             </div>
           </div>
           </a>
        {{/each}}  
      </div>
  </section>


