
 <header>
  {{>navButtonsSignUp}}
 </header>
<section id = "viewall-display">
      <div class="viewall-container">
        {{#each unmatched}}
           <a class="viewall-front" href="/loner/{{first_name}}">
             <div class="inside-container">
             <div class="image-position">
               <img src="/images/profile.png" class="viewall-img-size" alt="profile">
             </div>
             <div class ="text-position">
                <h2 class="title-text-viewall">{{first_name}}</h2>
                <p>{{age}} years old</p>
                <p class="text-card-viewall">{{description}}</p>
             </div>
           </div>
           </a>
        {{/each}}  
       </div>
     </section>

