 <header>
  {{>navNoButton}}
 </header>

 <form action="/family/signup" method="post" class="form">

  <label for="surname">Family Name</label>
  <input type="text" name="surname" placeholder="e.g. Smith">

  <label for="size">Number of Family Members</label>
  <input type="text" name="size" placeholder="e.g. 4">

  <label for="location">Location</label>
  <input type="text" name="location" placeholder="e.g. Wales">
{{!-- 
  <label for="smokers">Are smokers welcome in this household?</label>
  <select>
    <option name='smokers' value="true">Yes</option>
    <option name='smokers' value="false">No</option>
  </select>

  <label for="pets">Does this household have pets?</label>
  <select>
    <option name='pets' value="true">Yes</option>
    <option name='pets' value="false">No</option>
  </select> --}}

  <label for="description">Description</label>
  <textarea rows="4" name="description" placeholder="e.g. We are a warm family, looking to welcome you into our home this Xmas!"></textarea>

  <button type="submit">Sign Me Up!</button>

 </form>

  

