 <header>
  {{>navButton}}
 </header>
 <section id = "card-display">
     <div class="card-container">
          <a class="front-card" href="google.com">
            <div class="inside-container">
            <div class="image-position">
              <img src="images/together.png" class="card-img-size" alt="together">
            </div>
            <div class ="text-position">
               <h2 class="title-text">Family</h2>
               <p class="text-card">Are you alone for Christmas? Click here to view families who are happy to share their Christmas table</p>
            </div>
          </div>
          </a>  
          <a class="front-card" href="google.com">
            <div class="inside-container">
              <div class="image-position">
                <img src="images/lonely.png" class="card-img-size" alt="lonely">
              </div>
              <div class ="text-position">
               <h2 class="title-text">Lonely</h2>
               <p class="text-card">Have a spare seat at your table this Christmas? Adopt an orphan for Christmas day!</p>
              </div>
            </div>
          </a> 
      </div>
    </section>

{{!-- <ul>
  {{#each users}}
  <li>{{name}} ({{email}})</li>
  {{/each}}
</ul> --}}
