 <header>
  {{>navNoButton}}
 </header>

<section id = "card-display">
  <div class="card-container">
    <a class="front-card" href="/all/families">
      <div class="inside-container">
        <div class="image-position">
          <img src="images/together.png" class="card-img-size" alt="together">
        </div>
        <div class ="text-position">
          <h2 class="title-text">We'll just need some details.</h2>
          <form class="text-card" action="/loner/signup" method="post" class="form">

            <label for="first_name">First Name</label>
            <input type="text" name="first_name" placeholder="e.g. Ted">

            <label for="age">Age</label>
            <input type="text" name="age" placeholder="e.g. 35">

            <label for="location">Location</label>
            <input type="text" name="location" placeholder="e.g. Wales">

            <label for="description">Description</label>
            <textarea rows="4" name="description" placeholder="e.g. I'm a lonely man looking for a home for Xmas"></textarea>

            <button class="text-card" type="submit">Sign Me Up!</button>

            </form>
        </div>
      </div>
    </a>  
  </div>
</section>
 