 <header>
  {{>navReturnToAllButtons}}
 </header>

<section id = "card-display">
  <div class="card-container">
    <div class="front-card">
      <div class="inside-container">
        <div class="image-position">
          <img src="/images/lonely.png" class="form-img-size" alt="together">
        </div>
        <div class ="text-position">
          <h2 class="title-text">We'll just need some details.</h2>
          <form class="text-card form" action="/loner/signup" method="post">

            <label for="first_name">First Name</label>
            <input type="text" name="first_name" placeholder="e.g. Ted"><br>

            <label for="age">Age</label>
            <input type="text" name="age" placeholder="e.g. 35"><br>

            <label for="location">Location</label>
            <input type="text" name="location" placeholder="e.g. Wales"><br>

            <label for="description">Description</label>
            <textarea rows="4" name="description" placeholder="e.g. I'm a lonely man looking for a home for Xmas"></textarea><br>

            <button class="text-card form-button" type="submit">Sign me up</button>

            </form>
        </div>
      </div>
    </div>  
  </div>
</section>
 