 <header>
  {{>navNoButton}}
 </header>

 <form action="/loner/signup" method="post" class="form">

  <label for="first_name">First Name</label>
  <input type="text" name="first_name" placeholder="e.g. Ted">

  <label for="age">Age</label>
  <input type="text" name="age" placeholder="e.g. 35">

  <label for="location">Location</label>
  <input type="text" name="location" placeholder="e.g. Wales">

  <label for="description">Description</label>
  <textarea rows="4" name="description" placeholder="e.g. I'm a lonely man looking for a home for Xmas"></textarea>

  <button type="submit">Sign Me Up!</button>

 </form>

  