body{
  font-family: 'Inter', sans-serif;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

/* Showing Card -HOMEPAGE */

.card-container {
  background-color: #ffff;
  display: flex;
  height: 100%;
  justify-content: center;
}

.front-card {
  width: 60vh;
  /* height: 70vh; */
  padding: 35px;
  margin: 50px;

  border: 2px solid rgba(255, 255, 255, 0.218);
  border-radius: 20px;
  background-color: rgba(255, 211, 140, 0.45);
  /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.08 ); */
  backdrop-filter: blur(15px);
  text-decoration: none;
  color: black;
} 

.inside-container{
  position: relative;
  padding: 1em;
}

.image-position{
display: flex;
justify-content: center;
align-items: center;

}

.card-img-size{
width: 80%;

}

.text-position{
padding: 1em ;
}

.text-card {
letter-spacing: 0.05em;
line-height: 1.6;
font-weight: 400;
font-size: 1.2em;
}

.title-text{
  font-size: 1.8em;
}

.card-footer {
  font-size: 0.65em;
  color: #446;
}

/* Card-END */

/* FORM */

.form-img-size {
  width: 55%;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  border: none;
  padding: 1em;
  border-radius: 10px;
  opacity: 70%;
}

.form-button {
  border: none;
  padding: 0.5em;
  /* width: 50%; */
  background-color: rgba(253, 186, 79, 0.45);
  border-radius: 30px;
  font-size: 1em;
  font-weight: 600;
  color:rgba(110, 74, 28, 0.815);
  text-transform: uppercase;
}






/* FORM */



/* FOOTER */

.footer-container {
  width: 100%;
  height: 30hv;
  margin: 1em auto;
  text-align: center;
}

.footer-text{
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.02em;
}

/* FOOTER-END */

/* NAVIGATION-BAR */

nav{
  background: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0.75em 3em;
}

.logo{
  font-weight: 700;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li{
  float: right;
}

nav ul a{
  display: block;
  padding: 0 0.7em;
  color: black;

} 

/* END NAVIGATION-BAR */

/* viewAll-Card */

.viewall-container{
  background-color: #ffff;
  display: flex;
  height: 100%;
  justify-content: center;
}

.viewall-front {
  width: 40vh;
  height: 50vh;
  padding: 20px;
  margin: 20px;

  border: 2px solid rgba(255, 255, 255, 0.218);
  border-radius: 20px;
  background-color: rgba(255, 189, 104, 0.45);
  backdrop-filter: blur(15px);
  text-decoration: none;
  color: black;
} 


.viewall-img-size{
width: 60%;

}

.text-card-viewall{
  letter-spacing: 0.05em;
  line-height: 1.6;
  font-weight: 400;
  font-size: 1em;
  }
  
.title-text-viewall{
    font-size: 1.5em;
 }

 /* END-viewAll */